body{
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    margin: 0px;
}

.links {
    display: flex;
    align-items: center;    
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.first {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

h1,
.hero_text {
    color: #f9faf8;
    size: 18px;
}

.text {
    width: 350px;
}

#hero {
    
    size: 48px;
    font-weight: bolder;
}

.picture {
    background-color: grey;
    padding: 60px;
}

button{
    background-color: #3daaf3;
    color: #fff;
    padding: 5px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frames {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.frame{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration {
    height: 130px;
    width: 130px;
    border-radius: 5%;
    border: solid 2px;
    border-color: #3daaf3;
}

.ftext{
    width: 130px;
    text-align: center;
}

.third {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

blockquote{
    width: 700px;
    font-style: italic;
    font-size: 36px;
}

footer{
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.fourth{
    background-color: #3daaf3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 200px;
}

.fourth_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#button{
    border: solid 1px; 
    border-color: #F9FAF8;
    margin: 30px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

cite{
    align-self: end;
    font-weight: bold;
    font: 50px;
    margin-right: 200px;
    margin-bottom: 50px;
}